.Drug_status__info{
    width: 100% - 20px;
    height: 70px;

    padding-left: 20px;

    display: flex;
    align-items: center;
}

.Drug_status__info__img img{
    width: 70px;
    opacity: 0.3;
}

.Drug_status__info__texts{
    width: 250px;
}
.Drug_status__info__texts p{
    font-weight: bold;
}

.Drug_status__info__texts p:first-child{
    font-size: 22px;
    opacity: 0.7;
}

.Drug_status__info__texts p:last-child{
    margin-top: -10px;
    opacity: 0.4;
}

.Drug_status__info__btndiv{
    width: 35%;
    margin-right: 20px;
    display: flex;
    justify-content: end;
    
}

.Drug_status__info__btndiv button{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}